@use '../lib/definitions' as *;

.deleteBtn {
  color: var(--onerror);
  background-color: var(--error);
}

.deleteBtn:hover {
  background-color: var(--error-hover);
}

.fileInput {
  overflow: hidden;
  max-width: 70vw;
}

.launch {
  margin-top: 0.75em;
  font-size: 1.5em;
}

.heroWrap {
  min-height: 225px;
  padding: 0 0.5em;
  padding-top: 1em;

  color: var(--text);
  text-align: center;

  background-color: var(--primary);
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.starting {
  flex: none;
  width: 100%;
}

.faq {
  flex: none;
  width: 100%;
}

/* stylelint-disable-next-line media-query-no-invalid */
@media ($small-and-up) {
  .heroWrap {
    min-height: 175px;
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media ($large-and-up) {
  .heroWrap {
    min-height: 125px;
  }

  .starting {
    flex: 1 1 0;
    margin-right: 1em;
  }

  .faq {
    flex: 1 1 0;
    margin-left: 1em;
  }
}
