@use '../lib/definitions' as *;

.stats {
  column-count: 1;
  margin-bottom: -1em;
}

/* stylelint-disable-next-line media-query-no-invalid */
@media ($small-and-up) {
  .stats {
    column-count: 2;
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media ($large-and-up) {
  .stats {
    column-count: 3;
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media ($huge-and-up) {
  .stats {
    column-count: 4;
  }
}

.section {
  break-inside: avoid-column;
}
